body {
  background-color: #151515;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header {
  background: #000;
  position: sticky;
  top: 0;
  z-index: 102;
}

.container-ul {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 0.9cm;
  text-shadow: -2.5px 0px 1px #4498C8;
  color: #fff;
  margin-left: 0.8rem;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 0.8rem;
}

.nav-link:hover {
  color: #4498C8;
}

.active-proyectos {
  color: #4498C8;
}

.active-habilidades {
  color: #4498C8;
}

.active-sobre-mi {
  color: #4498C8;
}

.active-contactame {
  color: #4498C8;
}

.navbar-icon {
  color: #fff;
}

/* EMPIEZA TITULO */
.container-titulo-index {
  margin-top: 3rem;
  display: inline-block;
}
.container-titulo-index .p-titulo-index {
  margin-left: 3rem;
  font-size: 7.5rem;
  background: -webkit-linear-gradient(45deg, #fff, #4498C8 25%);
  -webkit-background-clip: text;
  background-clip: var();
  -webkit-text-fill-color: transparent;
  display: inline;
}

/* TERMINA TITULO */
/* EMPIEZA SOBRE MI */
.sobremi-flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: -10rem;
  margin-top: -30rem;
}

.sobremi-index {
  color: #fff;
  background-color: #000;
  height: 30rem;
  width: 50rem;
  font-size: 2.5rem;
  border-radius: 2.5rem;
  margin: 0.5rem;
  border: 2px solid #4498C8;
  box-shadow: 9px 11px 16px 1px #4498C8;
  display: flex;
}
.sobremi-index .p-sobremi-index {
  margin: 0.8rem;
  text-shadow: -1px 1px 0px rgb(68, 152, 200);
}
.sobremi-index .p-sobremi-index .b-sobre-mi {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(45deg, #fff, #4498C8 80%);
  -webkit-background-clip: text;
  background-clip: var();
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  font-size: 2.5rem;
}

/* TERMINA SOBRE MI */
/* EMPIEZA PROYECTOS INDEX */
.proyectos-index {
  background-color: #000;
  height: 31rem;
  margin-top: 8rem;
}
.proyectos-index .titulo-proyectos-index {
  color: #fff;
  margin-left: 3.9rem;
  text-decoration: none;
}
.proyectos-index .container-img-proyectos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.proyectos-index .container-img-proyectos .img-proyectos {
  border: 2px solid #fff;
  margin-top: 60px;
  width: 50vh;
  height: 19.7rem;
  max-width: 90%;
  border-radius: 8px;
}

.titulo-proyectos-index:hover {
  color: #4498C8;
}

.carousel {
  display: none;
}

/* TERMINA PROYECTOS */
/* EMPIEZA HABILIDADES */
.container-img {
  background-color: #000;
  width: 100%;
  height: 27rem;
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.img-hb {
  width: 30rem;
  height: 30rem;
}

.certificado {
  display: none;
  width: 20rem;
  height: 20rem;
  top: 94rem;
}

.container-img-html:hover .certificado-html {
  display: block;
  position: absolute;
}

.container-img-css:hover .certificado-css {
  display: block;
  position: absolute;
}

.container-img-js:hover .certificado-js {
  display: block;
  position: absolute;
}

.subtitulo-habilidades {
  color: #fff;
  position: absolute;
  margin-left: 3.9rem;
  text-decoration: none;
  margin-top: 1rem;
}

.subtitulo-habilidades:hover {
  color: #4498C8;
}

.carousel-habilidades {
  display: none;
}

/* TERMINA HABILIDADES */
/* EMPIEZA CONTACTAME */
.titulo-contactame-index {
  color: #fff;
  display: inline;
  position: absolute;
  left: 3rem;
  text-decoration: none;
  margin-top: 2rem;
}

.titulo-contactame-index:hover {
  color: #4498C8;
}

.form-contactame-index {
  margin-left: 3rem;
  margin-top: 7rem;
  width: 60rem;
}

.form-input {
  height: 2.5rem;
  width: 50.3rem;
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.form-input:focus {
  background: linear-gradient(to bottom, transparent, #353535);
  outline: none;
  border-bottom: 3px solid #4498C8;
}

.input-name {
  margin-left: -0.3rem;
}

.btn {
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  font-family: inherit;
  margin-left: 42rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.btn:hover {
  border: 3px solid #4498C8;
  color: #fff;
}

.textarea-index {
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  resize: none;
  color: #fff;
  font-size: 1.2rem;
  width: 50.3rem;
}

.textarea-index:focus {
  outline: none;
  border-bottom: 3px solid #4498C8;
  background: linear-gradient(to bottom, transparent, #353535);
}

/* TERMINA CONTACTAME*/
footer {
  background-color: #000;
  margin-bottom: 0;
  height: 8rem;
}
footer ul {
  list-style: none;
  display: flex;
  height: 8rem;
  justify-content: space-around;
  align-items: center;
}
footer ul .img-instagram-footer {
  height: 2rem;
  width: 4rem;
}

.container-proyectos {
  display: grid;
  grid-template-columns: repeat(autofill, 1fr);
}

.proyectos-img-links {
  width: 37.8rem;
  height: 29rem;
  object-fit: cover;
}

.container-titulo-habilidades {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.titulo-habilidades {
  color: #fff;
  font-size: 2.5rem;
}

.container-texto-habilidades {
  width: 50rem;
  height: 62rem;
  border: 2px solid #4498C8;
  box-shadow: -9px 11px 16px 1px #4498C8;
  background-color: #000;
  border-radius: 1.4rem;
  color: #fff;
  margin-top: 4rem;
  margin-left: 12rem;
  margin-bottom: 4.5rem;
  display: inline-block;
}

.texto-habilidades {
  font-size: 2.5rem;
  margin: 0.7rem;
}

.habilidades-frontend {
  background: -webkit-linear-gradient(45deg, #fff, #4498C8 70%);
  -webkit-background-clip: text;
  background-clip: var();
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  position: absolute;
  margin-top: -68rem;
  margin-left: 120rem;
}

.container-all-habilidades {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -60rem;
  margin-left: 134rem;
}

.titulo-habilidad {
  color: #fff;
  margin-left: 5rem;
}

.img-pag-hb {
  width: 17rem;
  height: 17rem;
}

.container-titulo-sobremi {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.titulo-sobremi {
  color: #fff;
  font-size: 2.5rem;
}

.container-texto-sobremi {
  width: 50rem;
  height: 62rem;
  display: inline-block;
  border: 2px solid #4498C8;
  box-shadow: -9px 11px 16px 1px #4498C8;
  background-color: #000;
  border-radius: 1.4rem;
  color: #fff;
  margin-top: 1.5rem;
}

.texto-sobremi {
  font-size: 2.5rem;
  margin: 1.5rem;
}

.container-texto-hobbies {
  background-color: #fff;
  width: 50rem;
  height: 62rem;
  display: inline-block;
  border: 2px solid #4498C8;
  box-shadow: 9px 11px 16px 1px #4498C8;
  background-color: #000;
  color: #fff;
  border-radius: 1.4rem;
  margin-bottom: 7.6rem;
  margin-top: 1.5rem;
}

.texto-hobbies {
  font-size: 2.5rem;
  margin: 1.5rem;
}

.container-textos {
  display: flex;
  justify-content: space-evenly;
}

.container-h2-contactame {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.h2-contactame {
  color: #fff;
  font-size: 2.5rem;
}

.container-span-contactame {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.span-contactame {
  color: #fff;
}

.container-form-contactame {
  height: 43rem;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.form-input-contactame {
  height: 2.5rem;
  width: 66.5rem;
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-left: 4rem;
  display: block;
}

.form-input-contactame:focus {
  background: linear-gradient(to bottom, transparent, #353535);
  outline: none;
  border-bottom: 3px solid #4498C8;
}

.textarea-contactame {
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  resize: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
}

.textarea-contactame:focus {
  outline: none;
  border-bottom: 3px solid #4498C8;
  background: linear-gradient(to bottom, transparent, #353535);
}

.btn-contactame {
  width: 66.8rem;
  margin-left: 4.2rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  display: block;
  margin-top: 2rem;
}

.btn-contactame:hover {
  color: #fff;
  background-color: #4498C8;
}

.footer-contactame {
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 767px) and (max-width: 769px) {
  /* EMPIEZA INDEX */
  /* EMPIEZA SOBRE MI */
  .container-sobre-mi {
    margin-right: 5rem;
    margin-top: 36rem;
  }
  .sobremi-index {
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .sobremi-flex {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -7rem;
    margin-top: -30rem;
  }
  /* TERMINA CONTACTAME */
  /* EMPIEZA PROYECTOS */
  .carousel {
    display: block;
    margin-top: 18rem;
  }
  .proyectos-index {
    display: none;
  }
  .img-carousel-proyectos {
    height: 30rem;
    width: 60rem;
    margin-left: 8rem;
  }
  .titulo-proyectos-index {
    position: relative;
    top: 17rem;
    left: 0.1rem;
  }
  /* TERMINA PROYECTOS */
  /* EMPIEZA HABILIDADES */
  .img-hb {
    width: 23rem;
  }
  .certificado {
    top: 150rem;
  }
  /* TERMINA HABILIDADES */
  /* EMPIEZA CONTACTAME */
  .form-input {
    width: 64rem;
  }
  .textarea-index {
    width: 64rem;
  }
  .btn {
    margin-left: 55.7rem;
  }
  .input-name {
    margin-left: 0.1rem;
  }
  /* TERMINA CONTACTAME */
  /* EMPIEZA FOOTER */
  .img-footer {
    height: 3rem;
  }
  .img-instagram-footer {
    height: 2.6rem;
    width: 4.5rem;
  }
  /* EMPIEZA PAG PROYECTOS */
  .proyectos-img-links {
    width: 38.2rem;
    height: 22rem;
    object-fit: cover;
  }
  .proyecto-netflix {
    width: 76.4rem;
    height: 22rem;
  }
  /* EMPIEZA PAG CONTACTAME */
  .form-contactame {
    margin-left: -4rem;
  }
  .btn-contactame {
    width: 66rem;
    margin-top: 2rem;
  }
  .textarea-contactame {
    margin-left: 4rem;
  }
  .footer-contactame {
    position: fixed;
    bottom: 0;
  }
  /* TERMINA PAG CONTACTAME */
  /* EMPIEZA PAG SOBRE MI */
  .container-texto-sobremi {
    width: 35rem;
    display: block;
    margin-top: 6rem;
  }
  .container-texto-hobbies {
    display: block;
    width: 35rem;
    margin-top: 6rem;
  }
  .texto-sobremi {
    font-size: 2.135rem;
  }
  .texto-hobbies {
    font-size: 2rem;
  }
  .footer-sobremi {
    position: fixed;
    bottom: 0;
  }
  /* TERMINA PAG SOBREMI */
  /* EMPIEZA PAG PROYECTOS */
  /*EMPIEZA PAG CONTACTAME  */
  .btn-contactame {
    width: 65.8rem;
  }
  .footer-contactame {
    position: fixed;
    bottom: 0;
  }
  /*TERMINA PAG CONTACTAME  */
  /* EMPIEZA PAG HABILIDADES */
  .habilidades-frontend {
    margin-left: 10rem;
    font-size: 8rem;
    margin-top: 1rem;
    width: 58rem;
  }
  .container-texto-habilidades {
    margin-left: 1.7rem;
    margin-top: 5rem;
    width: 73rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .texto-habilidades {
    font-size: 3rem;
  }
  .container-all-habilidades {
    margin-left: 32rem;
    margin-top: 12rem;
  }
  .img-pag-hb {
    width: 21rem;
    height: 21rem;
    margin-left: -2rem;
  }
  .footer-habilidades {
    margin-top: 80rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  /* EMPIEZA SOBRE MI */
  .container-sobre-mi {
    margin-right: 15rem;
    margin-top: 34rem;
  }
  /* TERMINA SOBRE MI */
  /* EMPIEZA PROYECTOS */
  .proyectos-index {
    margin-top: 20rem;
  }
  .img-proyectos {
    width: 28rem;
  }
  .certificado {
    top: 131rem;
  }
  .carousel {
    display: block;
    margin-top: 12rem;
  }
  .img-carousel-proyectos {
    height: 30rem;
    width: 75rem;
    margin-left: 13rem;
  }
  .proyectos-index {
    display: none;
  }
  /* TERMINA PROYECTOS */
  /* EMPIEZA CONTACTAME */
  .form-input {
    width: 64rem;
  }
  .textarea-index {
    width: 64rem;
  }
  .btn {
    margin-left: 55.7rem;
  }
  .input-name {
    margin-left: 0.1rem;
  }
  /* TERMINA CONTACTAME */
  /* EMPIEZA PAG PROYECTOS */
  .proyectos-img-links {
    width: 339.5px;
  }
  /*EMPIEZA PAG CONTACTAME  */
  .btn-contactame {
    width: 65.8rem;
    margin-top: 2rem;
  }
  .textarea-contactame {
    margin-left: 4rem;
  }
  .form-contactame {
    margin-left: -4rem;
  }
  .footer-contactame {
    position: fixed;
    bottom: 0;
  }
  /*TERMINA PAG CONTACTAME  */
  /* EMPIEZA PAG SOBRE MI */
  .container-texto-sobremi {
    width: 47rem;
    display: block;
    margin-top: 20rem;
  }
  .container-texto-hobbies {
    display: block;
    width: 47rem;
    margin-top: 20rem;
  }
  .texto-sobremi {
    font-size: 2.47rem;
  }
  .texto-hobbies {
    font-size: 2.39rem;
  }
  .footer-sobremi {
    position: fixed;
    bottom: 0;
  }
  /* TERMINA PAG SOBREMI */
  /* EMPIEZA PAG HABILIDADES */
  .habilidades-frontend {
    margin-left: 62rem;
    font-size: 5rem;
  }
  .container-texto-habilidades {
    margin-left: 6rem;
    margin-top: 14rem;
  }
  .container-all-habilidades {
    margin-left: 72rem;
  }
  .footer-habilidades {
    position: fixed;
    bottom: 0;
  }
  /* TERMINA IPAD PRO */
}
@media screen and (min-width: 410px) and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  /* EMPIEZA MAIN TITULO */
  .container-titulo-index .p-titulo-index {
    font-size: 4.5rem;
  }
  /* TERMINA MAIN TITULO */
  /* EMPIEZA SOBRE MI */
  .container-sobre-mi {
    margin-right: -7.3rem;
    margin-top: 37rem;
  }
  .container-sobre-mi .sobremi-index {
    width: 35rem;
    height: 31.5rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .p-sobremi-index {
    font-size: 2rem;
  }
  .b-sobre-mi {
    font-size: 1rem;
  }
  /* EMPIEZA PROYECTOS */
  .carousel {
    display: block;
    margin-top: 16rem;
  }
  .proyectos-index {
    display: none;
  }
  .img-carousel-proyectos {
    height: 30rem;
    width: 33.5rem;
    margin-left: 3.8rem;
  }
  .titulo-proyectos-index {
    display: block;
  }
  /* TERMINA PROYECTOS */
  /* EMPIEZA HABILIDADES */
  .container-img {
    display: flex;
    flex-direction: column;
    margin-top: 17rem;
    height: 94rem;
  }
  .container-img img {
    margin-left: 5.8rem;
  }
  .subtitulo-habilidades {
    margin-left: 16rem;
  }
  .certificado {
    display: none;
  }
  .container-img-html:hover .certificado-html {
    display: block;
    position: absolute;
    top: 146rem;
    left: 5rem;
  }
  .container-img-css:hover .certificado-css {
    display: block;
    position: absolute;
    top: 176rem;
    left: 5rem;
  }
  .container-img-js:hover .certificado-js {
    display: block;
    position: absolute;
    top: 208rem;
    left: 5rem;
  }
  /* TERMINA HABILIDADES */
  /* EMPIEZA CONTACTAME */
  .form-input {
    width: 30rem;
  }
  .textarea-index {
    width: 30rem;
  }
  .btn {
    margin-left: 21.7rem;
  }
  .form-contactame-index {
    width: 10rem;
    margin-top: 22rem;
  }
  .h2-contactame-index {
    margin: 17rem;
    margin-left: -0.5rem;
  }
  /* EMPIEZA PAG PROYECTOS */
  .proyectos-img-links {
    width: 100%;
  }
  /* TERMINA PAG PROYECTOS */
  /* EMPIEZA PAG CONTACTAME */
  .form-input-contactame {
    width: 33rem;
    margin-right: 4.3rem;
  }
  .textarea-contactame {
    width: 33rem;
    margin-left: 4rem;
  }
  .btn-contactame {
    width: 33.5rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .form-contactame {
    width: 41.14rem;
    margin-bottom: 10rem;
  }
  .container-form-contactame {
    height: 47rem;
  }
  .footer-contactame {
    position: relative;
    margin-top: 4rem;
  }
  /* TERMINA PAG CONTACTAME */
  /* EMPIEZA PAG SOBREMI */
  /* EMPIEZA PAG SOBRE MI */
  .container-texto-sobremi {
    width: 34rem;
    margin-top: 3rem;
    margin-left: 4rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .container-texto-hobbies {
    width: 34rem;
    margin-top: 4rem;
    margin-left: 4rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .container-textos {
    display: block;
  }
  .texto-sobremi {
    font-size: 2.1rem;
  }
  .texto-hobbies {
    font-size: 1.95rem;
  }
  /* TERMINA PAG SOBREMI */
  /* EMPIEZA PAG HABILIDADES */
  .habilidades-frontend {
    margin-left: 6rem;
    font-size: 4.2rem;
    margin-top: 1rem;
    width: 30rem;
  }
  .container-texto-habilidades {
    margin-left: 2rem;
    margin-top: 5rem;
    width: 38rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .texto-habilidades {
    font-size: 2.2rem;
  }
  .container-all-habilidades {
    margin-left: 13rem;
    margin-top: 10rem;
  }
  .img-pag-hb {
    width: 20rem;
    height: 20rem;
    margin-left: -2rem;
  }
  .footer-habilidades {
    margin-top: 76rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 400px) {
  /* EMPIEZA MAIN TITULO */
  .container-titulo-index .p-titulo-index {
    font-size: 4rem;
  }
  /* TERMINA MAIN TITULO */
  /* EMPIEZA SOBRE MI */
  .container-sobre-mi {
    margin-right: -7rem;
    margin-top: 37rem;
  }
  .container-sobre-mi .sobremi-index {
    width: 30rem;
    height: 27.5rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .p-sobremi-index {
    font-size: 1.7rem;
  }
  .container-sobre-mi .sobremi-index .p-sobremi-index .b-sobre-mi {
    font-size: 2rem;
  }
  /* EMPIEZA PROYECTOS */
  .carousel {
    display: block;
    margin-top: 15rem;
  }
  .proyectos-index {
    display: none;
  }
  .img-carousel-proyectos {
    height: 30rem;
    width: 30.5rem;
    margin-left: 3.5rem;
  }
  .titulo-proyectos-index {
    color: #4498C8;
  }
  /* TERMINA INDEX */
  /* EMPIEZA HABILIDADES */
  .container-img {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: 89rem;
  }
  .container-img img {
    margin-left: 3rem;
  }
  .certificado {
    display: none;
  }
  .container-img-html:hover .certificado-html {
    display: block;
    position: absolute;
    top: 130rem;
    left: 6rem;
  }
  .container-img-css:hover .certificado-css {
    display: block;
    position: absolute;
    top: 160rem;
    left: 6rem;
  }
  .container-img-js:hover .certificado-js {
    display: block;
    position: absolute;
    top: 189rem;
    left: 6rem;
  }
  .subtitulo-habilidades {
    margin-left: 14rem;
  }
  /* TERMINA HABILIDADES */
  /* EMPIEZA CONTACTAME */
  .form-input {
    width: 30rem;
  }
  .textarea-index {
    width: 30rem;
  }
  .btn {
    margin-left: 21.7rem;
  }
  .form-contactame-index {
    width: 10rem;
  }
  .h2-contactame-index {
    margin-top: 4rem;
    margin-left: -0.5rem;
  }
  /* EMPIEZA PAG CONTACTAME */
  .form-input-contactame {
    width: 33rem;
    margin-left: 2rem;
  }
  .textarea-contactame {
    width: 33rem;
    margin-left: 2rem;
  }
  .btn-contactame {
    width: 33.5rem;
    margin-left: 1.7rem;
    margin-top: 2rem;
  }
  .form-contactame {
    width: 100%;
    margin-bottom: 10rem;
  }
  .container-form-contactame {
    height: 43.5rem;
  }
  .footer-contactame {
    position: relative;
    margin-top: 10rem;
  }
  /* TERMINA PAG CONTACTAME */
  /* EMPIEZA PAG SOBREMI */
  /* EMPIEZA PAG SOBRE MI */
  .container-texto-sobremi {
    width: 34rem;
    margin-top: 3rem;
    margin-left: 1.8rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .container-texto-hobbies {
    width: 34rem;
    margin-top: 4rem;
    margin-left: 1.8rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .container-textos {
    display: block;
  }
  .texto-sobremi {
    font-size: 2.1rem;
  }
  .texto-hobbies {
    font-size: 1.95rem;
  }
  /* TERMINA PAG SOBREMI */
  /* EMPIEZA PAG PROYECTOS */
  .proyectos-img-links {
    width: 100%;
  }
  /* TERMINA PAG PROYECTOS */
  /* EMPIEZA PAG HABILIDADES */
  .habilidades-frontend {
    margin-left: 4rem;
    font-size: 4.2rem;
    margin-top: 1rem;
    width: 30rem;
  }
  .container-texto-habilidades {
    margin-left: 1rem;
    margin-top: 5rem;
    width: 35.5rem;
    box-shadow: 0px 11px 16px 1px #4498C8;
  }
  .texto-habilidades {
    font-size: 2.1rem;
  }
  .container-all-habilidades {
    margin-left: 11.6rem;
    margin-top: 10rem;
  }
  .img-pag-hb {
    width: 20rem;
    height: 20rem;
    margin-left: -2rem;
  }
  .footer-habilidades {
    margin-top: 77rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
