body{
    background-color: #151515;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}




/* EMPIEZA HEADER */
header{
    background: #000;
    position: sticky;
    top: 0;
    z-index: 102;
}
.container-ul{
    display: flex;
    justify-content: center;
}

.navbar-brand{
    font-size: .9cm;
    text-shadow: -2.5px 0px 1px #4498C8;
    color: #fff;
    margin-left: .8rem;
}

.navbar-brand:hover{
    color: #fff;
}

.nav-item{
    display: flex;
    justify-content: center;
}

.nav-link{
    font-size: 1.5rem;
    color: #fff;
    margin-right: .8rem;
}

.nav-link:hover{
    color:#4498C8 ;
}

.active-proyectos{
    color: #4498C8;
}

.active-habilidades{
    color: #4498C8;
}

.active-sobre-mi{
    color: #4498C8;
}

.active-contactame{
    color: #4498C8;
}

.navbar-icon{
    color: #fff;
}


/* TERMINA HEADER */








/* EMPIEZA INDEX */
/* EMPIEZA INDEX */
/* EMPIEZA INDEX */




/* EMPIEZA MAIN INDEX */

/* EMPIEZA TITULO */

.p-titulo-index{
    margin-left: 3rem;
    font-size: 7.5rem;
    background: -webkit-linear-gradient(45deg, #fff, #4498C8 25%);
    -webkit-background-clip: text;
    background-clip: var() ;
    -webkit-text-fill-color: transparent;
}

.container-titulo-index{
    margin-top: 3rem;
}

/* TERMINA TITULO */

/* EMPIEZA SOBRE MI */

.sobremi-index{
    color: #fff;
    background-color: #000;
    height: 30rem;
    width: 50rem;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    margin: .5rem;
    border: 2px solid #4498C8;
    box-shadow: 9px 11px 16px 1px #4498C8;
}

.container-sobre-mi{
    position: absolute;
    top: 12rem;
    right: 20rem;
}

.b-sobre-mi{
    font-size: 1.8rem;
    background: -webkit-linear-gradient(45deg, #fff, #4498C8 80%);
    -webkit-background-clip: text;
    background-clip: var() ;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-size: 2.5rem;
}

.p-sobremi-index{
    margin: .8rem;
    text-shadow: -1px 1px 0px rgba(68,152,200,1);
}


/* TERMINA SOBRE MI */





/* EMPIEZA PROYECTOS INDEX */

.proyectos-index{
    background-color: #000;
    height: 29rem;
    margin-top: 8rem;
}

.container-img-proyectos{
    width: 100%;
    display: flex;
    justify-content: space-around
}

.titulo-proyectos-index{
    color: #fff;
    margin-left: 3rem;
    text-decoration: none;
    position: absolute;
    margin-top: 15px;
}

.titulo-proyectos-index:hover{
    color: #4498C8 ;
}

.img-proyectos{
    border: 2px solid #fff;
    margin-top: 60px;
    width: 61rem;
    height: 19.7rem;
}

/* TERMINA PROYECTOS */

/* EMPIEZA HABILIDADES */


.container-img{
    background-color: #000;
    width: 100%;
    height: 27rem;
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.img-hb{
    width: 30rem;
    height: 30rem;
}

.certificado{
    display: none;
    width: 20rem;
    height: 20rem;
    top: 90rem;
}

.container-img-html:hover .certificado-html{
    display: block;
    position: absolute;
}

.container-img-css:hover .certificado-css{
    display: block;
    position: absolute;
}

.container-img-js:hover .certificado-js{
    display: block;
    position: absolute;
}

.subtitulo-habilidades{
    color: #fff;
    display: inline;
    position: absolute;
    left: 3rem;
    text-decoration: none;
}

.subtitulo-habilidades:hover{
    color: #4498C8;
}

/* TERMINA HABILIDADES */

/* EMPIEZA CONTACTAME */

.titulo-contactame-index{
    color: #fff;
    display: inline;
    position: absolute;
    left: 3rem;
    text-decoration: none;
    margin-top: 2rem;
}

.titulo-contactame-index:hover{
    color: #4498C8;
}

.form-contactame-index{
    margin-left: 3rem;
    margin-top: 7rem;
    width: 60rem;
}

.form-input{
    height: 2.5rem;
    width: 50.3rem;
    border: none;
    border-bottom: 3px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.form-input:focus{
    background: linear-gradient(to bottom, transparent, #353535);
    outline: none;
    border-bottom: 3px solid #4498C8;
}

.input-name{
    margin-left: -.3rem;
}

.btn {
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-family: inherit;
    margin-left: 42rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.btn:hover{
    border: 3px solid #4498C8;
    color: #fff;
}

.textarea-index{
    border: none;
    border-bottom: 3px solid #fff;
    background: transparent;
    resize: none;
    color: #fff;
    font-size: 1.2rem;
}

.textarea-index:focus{
    outline: none;
    border-bottom: 3px solid #4498C8;
    background: linear-gradient(to bottom, transparent, #353535);
}

.img-teamwork{
    width: 60rem;
    height: 30rem;
    margin-left: 110rem;
    margin-top: -43rem;
    margin-bottom: 11.5rem;
}

/* TERMINA CONTACTAME */


/* EMPIEZA FOOTER */

footer{
    background-color: #000;
    margin-bottom: 0;
    height: 8rem;
}

.img-instagram-footer{
    height: 2rem;
    width: 4rem;
}

.ul-footer{
    list-style: none;
    display: flex;
    height: 8rem;
    justify-content: space-around;
    align-items: center;
}

/* TERMINA FOOTER */

    /* EMPIEZA PAG PROYECTOS */
    /* EMPIEZA PAG PROYECTOS */
    /* EMPIEZA PAG PROYECTOS */

.container-proyectos{
    display: grid;
    grid-template-columns: repeat(autofill,1fr);
}

.proyectos-img-links{
    width: 37.8rem;
    height:29rem;
    object-fit: cover;
} 


    /* TERMINA PAG PROYECTOS */
    /* TERMINA PAG PROYECTOS */
    /* TERMINA PAG PROYECTOS */

    /* EMPIEZA PAG HABILIDADES */
    /* EMPIEZA PAG HABILIDADES */
    /* EMPIEZA PAG HABILIDADES */

    .img-pag-hb{
        width: 7rem;
        height: 7rem;
    }

    .container-titulo-habilidades{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    .titulo-habilidades{
        color: #fff;
        font-size: 2.5rem;
    }

    .container-subtitulo-frontend{
        display: flex;
        width: 2.2em;
        display: inline-block;
    }

    .container-texto-habilidades{
        width: 50rem;
        height: 62rem;
        border: 2px solid #4498C8;
        box-shadow: -9px 11px 16px 1px #4498C8;
        background-color: #000;
        border-radius: 1.4rem;
        color: #fff;
        margin-top: 4rem;
        margin-left: 12rem;
        margin-bottom: 4.5rem;
        display: inline-block;
    }

    .texto-habilidades{
        font-size: 2.2rem;
        margin: .7rem;
    }

    .habilidades-frontend{
        background: #CF1500;
        background: linear-gradient(to bottom, #CF1500 12.5%, #0008FF 25%, #00FF00 37.5%, #FFFF24 50%, #A759FF 62.5%, #FF458F 75%, #FF875C 87.5%, #00CFCF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;

    }

    .container-all-habilidades{
        display: inline-block;
    }
    /* EMPIEZA PAG SOBREMI */
    /* EMPIEZA PAG SOBREMI */
    /* EMPIEZA PAG SOBREMI */

    .container-titulo-sobremi{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    .titulo-sobremi{
        color: #fff;
        font-size: 2.5rem;
    }

    .container-texto-sobremi{
        width: 50rem;
        height: 62rem;
        display: inline-block;
        border: 2px solid #4498C8;
        box-shadow: -9px 11px 16px 1px #4498C8;
        background-color: #000;
        border-radius: 1.4rem;
        color: #fff;
        margin-top: 1.5rem;
    }

    .texto-sobremi{
        font-size: 1.5rem;
        margin: .8rem;
    }

    .container-texto-hobbies{
        background-color: #fff;
        width: 50rem;
        height: 62rem;
        display: inline-block;
        border: 2px solid #4498C8;
        box-shadow: 9px 11px 16px 1px #4498C8;
        background-color: #000;
        color: #fff;
        border-radius: 1.4rem;
        margin-bottom: 7.6rem;
        margin-top: 1.5rem;
    }

    .texto-hobbies{
        font-size: 1.5rem;
        margin: .8rem;
    }

    .container-textos{
        display: flex;
        justify-content: space-evenly;
    }
    /* TERMINA PAG SOBREMI */
    /* TERMINA PAG SOBREMI */
    /* TERMINA PAG SOBREMI */


    /* EMPIEZA PAG CONTACTAME */
    /* EMPIEZA PAG CONTACTAME */
    /* EMPIEZA PAG CONTACTAME */
    .container-h2-contactame{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: .5rem;
    }

    .h2-contactame{
        color: #fff;
        font-size: 2.5rem;
    }

    .container-span-contactame{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .span-contactame{
        color: #fff;
    }

    .container-form-contactame{
        height: 43rem;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        margin-bottom: 19.5rem;
        margin-top: 6rem;
    }


    .form-input-contactame{
        height: 2.5rem;
        width: 66.5rem;
        border: none;
        border-bottom: 3px solid #fff;
        background: transparent;
        color: #fff;
        font-size: 1.2rem;
        margin-top: 3rem;
        margin-left: 4rem;
    }

    .form-input-contactame:focus{
        background: linear-gradient(to bottom, transparent, #353535);
        outline: none;
        border-bottom: 3px solid #4498C8;
    }


    .textarea-contactame{
        border: none;
        border-bottom: 3px solid #fff;
        background: transparent;
        resize: none;
        color: #fff;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-left: 4rem;
    }

    .textarea-contactame:focus{
        outline: none;
        border-bottom: 3px solid #4498C8;
        background: linear-gradient(to bottom, transparent, #353535);
    }

    .btn-contactame{
        width: 66.8rem;
        margin-left: 3.9rem;
        height: 3rem;
        border: none;
        border-radius: 1.5rem;
    }

    .btn-contactame:hover{
        color: #fff;
        background-color: #4498C8;
    }


    .contactame-correo{
        position: absolute;
        top: 62rem;
        left: 48%;
        color: #fff;
    }

    .container-correo-contactame{
    }

    /* TERMINA PAG CONTACTAME */
    /* TERMINA PAG CONTACTAME */
    /* TERMINA PAG CONTACTAME */





/* EMPIEZA MEDIA QUERIE TABLET 768PX */

@media screen and (min-width: 768px) and (max-width:769px){

/* EMPIEZA INDEX */

/* EMPIEZA SOBRE MI */

.container-sobre-mi{
    position: relative;
    margin-left: 33rem;
}

.sobremi-index{
    box-shadow: 0px 11px 16px 1px #4498C8;
}
/* TERMINA CONTACTAME */

/* EMPIEZA PROYECTOS */
.carousel{
    display: block;
    margin-top: 18rem;
}

.proyectos-index{
    display: none;
}

.img-carousel-proyectos{
    height: 30rem;
    width: 60rem;
    margin-left: 8rem;
}

.titulo-proyectos-index{
    position: relative;
    top: 17rem;
    left: .1rem;
}
/* TERMINA PROYECTOS */


/* EMPIEZA HABILIDADES */

.img-hb{
    width: 25rem ;
}

.certificado{
    top: 148rem;
}
/* TERMINA HABILIDADES */


/* EMPIEZA CONTACTAME */

.form-input{
    width: 64rem;
}

.textarea-index{
    width: 64rem;
}

.btn{
    margin-left: 55.7rem;
}

.img-teamwork{
    display: none;
}

.input-name{
    margin-left: .1rem;
}
/* TERMINA CONTACTAME */

/* EMPIEZA FOOTER */

.img-footer{
    height: 3rem;
}

.img-instagram-footer{
    height: 2.6rem;
    width: 4.5rem;
}

/* EMPIEZA PAG PROYECTOS */

.proyectos-img-links{
    width: 38.2rem;
    height:22rem;
    object-fit: cover;
} 

.proyecto-netflix{
    width: 76.4rem;
    height: 22rem;
}

}

/* TERMINA MEDIA QUERIE TABLET 768PX */



/* EMPIEZA MEDIA QUERIE TABLET 1024PX */

@media screen and (min-width: 1024px) and (max-width:1025px){
    
    /* EMPIEZA SOBRE MI */
    .container-sobre-mi{
        position: relative;
        margin-left: 45rem;
    }
    /* TERMINA SOBRE MI */
    
    /* EMPIEZA PROYECTOS */
    .proyectos-index{
        margin-top: 20rem;
    }
    
    .img-proyectos{
        width: 33rem;
    }

    .certificado{
        top: 136rem;
    }
    /* TERMINA PROYECTOS */
    
    /* EMPIEZA CONTACTAME */
    .img-teamwork{
        display: none;
    }
    .form-input{
        width: 64rem;
    }
    
    .textarea-index{
        width: 64rem;
    }
    
    .btn{
        margin-left: 55.7rem;
    }

    .input-name{
    margin-left: .1rem;
    }
    /* TERMINA CONTACTAME */


    /* EMPIEZA PAG PROYECTOS */

    .proyectos-img-links{
        width: 339.5px;
    }
}
    /* TERMINA PAG PROYECTOS */

    /* TERMINA MEDIA QUERIE TABLET 1024PX */


    /* EMPIEZA MEDIA QUERIE CELULAR 576px*/

    @media screen and (min-width: 375px) and (max-width:415px){
}


























