$mainBlack: #000;
$mainLightBlue: #4498C8;
@media screen and (min-width: 410px) and (max-width:415px){
    /* EMPIEZA MAIN TITULO */
    .container-titulo-index .p-titulo-index{
        font-size: 4.5rem;
    }
    /* TERMINA MAIN TITULO */

    /* EMPIEZA SOBRE MI */
    .sobremi-index{
        height: 25rem;
        width: 30rem;
        display: none;
    }

    .p-sobremi-index{
        font-size: 1.7rem;
    }

    .p-sobremi-index b{
        font-size: 1.7rem;
    }
    
    /* EMPIEZA PROYECTOS */
    .carousel{
        display: block;
        margin-top: 46rem;
    }
    
    .proyectos-index{
        display: none;
    }
    
    .img-carousel-proyectos{
        height: 30rem;
        width: 33.5rem;
        margin-left: 3.8rem;
    }
    
    .titulo-proyectos-index{
        position: relative;
        top: 45rem;
        left: .5rem;
    }
    /* TERMINA PROYECTOS */

    /* EMPIEZA HABILIDADES */
    .container-img{
        display: flex;
        flex-direction: column;
        margin-top: 17rem;
        height: 80rem;
    }

    .container-img img{
        margin-left: 5.8rem;
    }

    .img-html{
        margin-top: 18rem;
    }

/*     .subtitulo-habilidades{
        as;
    } */

    .certificado{
        display: none;
    }

    .certificado-js{
        top: 150rem;
        right: 10rem
    }

    .certificado-html{
        right: 10rem;
        top: 95rem;
    }
    /* TERMINA HABILIDADES */

/* EMPIEZA CONTACTAME */
.form-input{
    width: 30rem;
}

.textarea-index{
    width: 30rem;
}

.btn{
    margin-left: 21.7rem;
}

.form-contactame-index{
    width: 10rem;
    margin-top: 20rem;
}

.h2-contactame{
    margin-top: 16rem;
    margin-left: -.5rem;
}

/* EMPIEZA PAG PROYECTOS */
.proyectos-img-links{
    width: 100%;
}
}