$mainBlack: #000;
$mainLightBlue: #4498C8;
@media screen and (min-width: 1024px) and (max-width:1100px){

    /* EMPIEZA SOBRE MI */
    .container-sobre-mi{
        margin-right: 15rem;
        margin-top: 34rem;
    }
    /* TERMINA SOBRE MI */
    
    /* EMPIEZA PROYECTOS */
    .proyectos-index{
        margin-top: 20rem;
    }
    
    .img-proyectos{
        width: 28rem;
    }

    .certificado{
        top: 131rem;
    }

    .carousel{
        display: block;
        margin-top: 12rem;
    }
        
    .img-carousel-proyectos{
        height: 30rem;
        width: 75rem;
        margin-left: 13rem;
    }
    .proyectos-index{
        display: none;
    }
    /* TERMINA PROYECTOS */
    
    /* EMPIEZA CONTACTAME */
    .form-input{
        width: 64rem;
    }
    
    .textarea-index{
        width: 64rem;
    }
    
    .btn{
        margin-left: 55.7rem;
    }

    .input-name{
    margin-left: .1rem;
    }
    /* TERMINA CONTACTAME */


    /* EMPIEZA PAG PROYECTOS */

    .proyectos-img-links{
        width: 339.5px;
    }

    /*EMPIEZA PAG CONTACTAME  */
    .btn-contactame{
        width: 65.8rem;
    }
    .footer-contactame{
        position: fixed;
        bottom: 0;
    }
    /*TERMINA PAG CONTACTAME  */
    /* EMPIEZA PAG SOBRE MI */
    .container-texto-sobremi{
        width: 47rem;
        display: block;
        margin-top: 20rem;
    }
    .container-texto-hobbies{
        display: block;
        width: 47rem;
        margin-top: 20rem;
    }
    .texto-sobremi{
        font-size: 2.47rem;
    }
    .texto-hobbies{
        font-size: 2.39rem;
    }

    .footer-sobremi{
        position: fixed;
        bottom: 0;
    }
    /* TERMINA PAG SOBREMI */
    /* EMPIEZA PAG HABILIDADES */
    .habilidades-frontend{
        margin-left: 62rem;
        font-size: 5rem;
    }
    .container-texto-habilidades{
        margin-left: 6rem;
        margin-top: 14rem;
    }
    .container-all-habilidades{
        margin-left: 72rem;
    }
    .footer-habilidades{
        position: fixed;
        bottom: 0;
    }
    /* TERMINA IPAD PRO */
}