$mainBlack: #000;
$mainLightBlue: #4498C8;
@media screen and (min-width: 410px) and (max-width:415px){

    body{
        overflow-x: hidden;
    }

    /* EMPIEZA MAIN TITULO */
    .container-titulo-index .p-titulo-index{
        font-size: 4.5rem;
    }
    /* TERMINA MAIN TITULO */

    /* EMPIEZA SOBRE MI */
    .container-sobre-mi{
        margin-left: 3rem;
        margin-top: 10rem;
    }

    .container-sobre-mi .sobremi-index{
        width: 35rem;
        height: 31.5rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue
    }

    .p-sobremi-index{
        font-size: 2rem;
    }

    .b-sobre-mi{
        font-size: 1rem;
    }
    
    /* EMPIEZA PROYECTOS */
    .carousel{
        display: block;
        margin-top: 16rem;
    }
    
    .proyectos-index{
        display: none;
    }
    
    .img-carousel-proyectos{
        height: 30rem;
        width: 33.5rem;
        margin-left: 3.8rem;
    }
    
    .titulo-proyectos-index{
        display: block;
    }
    /* TERMINA PROYECTOS */

    /* EMPIEZA HABILIDADES */
    .container-img{
        display: flex;
        flex-direction: column;
        margin-top: 17rem;
        height: 94rem;
    }

    .container-img img{
        margin-left: 5.8rem;
    }

    .subtitulo-habilidades{
    margin-left: 16rem;
    }

    .certificado{
        display: none;
    }

    .certificado-css{
        top: 136rem;
        right: 10.5rem;
    }

    .certificado-js{
        top: 168rem;
        right: 10.5rem
    }

    .certificado-html{
        right: 10.5rem;
        top: 105rem;
    }
    /* TERMINA HABILIDADES */

/* EMPIEZA CONTACTAME */
.form-input{
    width: 30rem;
}

.textarea-index{
    width: 30rem;
}

.btn{
    margin-left: 21.7rem;
}

.form-contactame-index{
    width: 10rem;
    margin-top: 22rem;
}

.h2-contactame-index{
    margin: 17rem;
    margin-left: -.5rem;
}

/* EMPIEZA PAG PROYECTOS */
.proyectos-img-links{
    width: 100%;
}
/* TERMINA PAG PROYECTOS */
/* EMPIEZA PAG CONTACTAME */
.form-input-contactame{
    width: 33rem;
    margin-right: 4.3rem;
}

.textarea-contactame{
    width: 33rem;
    margin-right: 4.3rem;
}

.btn-contactame{
    width: 33.5rem;
    margin-left: 3.4rem;
}

.form-contactame{
    width: 41.14rem;
    margin-bottom: 10rem;
}

.container-form-contactame{
    height: 47rem;
}

.footer-contactame{
    margin-top: 8rem;
}
/* TERMINA PAG CONTACTAME */
/* EMPIEZA PAG SOBREMI */
/* EMPIEZA PAG SOBRE MI */
    .container-texto-sobremi{
        width: 34rem;
        margin-top: 3rem;
        margin-left:4rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue;
    }
    .container-texto-hobbies{
        width: 34rem;
        margin-top: 4rem;
        margin-left:4rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue;
    }

    .container-textos{
        display: block;
    }
    .texto-sobremi{
        font-size: 2.1rem;
    }
    .texto-hobbies{
        font-size: 1.95rem;
    }
    /* TERMINA PAG SOBREMI */
}