$mainBlack: #000;
$mainLightBlue: #4498C8;
@media screen and (min-width: 375px) and (max-width: 400px){
    /* EMPIEZA MAIN TITULO */
    .container-titulo-index .p-titulo-index{
        font-size: 4rem;
    }
    /* TERMINA MAIN TITULO */

    /* EMPIEZA SOBRE MI */
    .container-sobre-mi{
        margin-right: -7rem;
        margin-top: 37rem;
    }

    .container-sobre-mi .sobremi-index{
        width: 30rem;
        height: 27.5rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue
    }
    .p-sobremi-index{
        font-size: 1.7rem;
    }

    .container-sobre-mi .sobremi-index .p-sobremi-index .b-sobre-mi{
        font-size: 2rem;
    }
    
    /* EMPIEZA PROYECTOS */

    .carousel{
        display: block;
        margin-top: 15rem;
    }


    .proyectos-index{
        display: none;
    }
    
    .img-carousel-proyectos{
        height: 30rem;
        width: 30.5rem;
        margin-left: 3.5rem;
    }
    
    .titulo-proyectos-index{
        color: #4498C8;
    }

    /* TERMINA INDEX */

    /* EMPIEZA HABILIDADES */
    .container-img{
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        height: 89rem;
    }

    .container-img img{
        margin-left: 3rem;
    }

    .certificado{
        display: none;
    }

    .container-img-html:hover .certificado-html{
        display: block;
        position: absolute;
        top: 130rem;
        left: 6rem;
    }
    
    .container-img-css:hover .certificado-css{
        display: block;
        position: absolute;
        top: 160rem;
        left: 6rem;
    }
    
    .container-img-js:hover .certificado-js{
        display: block;
        position: absolute;
        top: 189rem;
        left: 6rem;
    }
    

        
    .subtitulo-habilidades{
        margin-left: 14rem;
        }
    /* TERMINA HABILIDADES */

/* EMPIEZA CONTACTAME */
.form-input{
    width: 30rem;
}

.textarea-index{
    width: 30rem;
}

.btn{
    margin-left: 21.7rem;
}

.form-contactame-index{
    width: 10rem;
}
.h2-contactame-index{
    margin-top: 4rem;
    margin-left: -.5rem;
}
/* EMPIEZA PAG CONTACTAME */
.form-input-contactame{
    width: 33rem;
    margin-left: 2rem;
}

.textarea-contactame{
    width: 33rem;
    margin-left: 2rem;
}

.btn-contactame{
    width: 33.5rem;
    margin-left: 1.7rem;
}

.form-contactame{
    width: 100%;
    margin-bottom: 10rem;
}

.container-form-contactame{
    height: 40rem;
}

.footer-contactame{
    margin-top: 10rem;
}
/* TERMINA PAG CONTACTAME */
/* EMPIEZA PAG SOBREMI */
    /* EMPIEZA PAG SOBRE MI */
    .container-texto-sobremi{
        width: 34rem;
        margin-top: 3rem;
        margin-left:1.8rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue;
    }
    .container-texto-hobbies{
        width: 34rem;
        margin-top: 4rem;
        margin-left:1.8rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue;
    }

    .container-textos{
        display: block;
    }
    .texto-sobremi{
        font-size: 2.1rem;
    }
    .texto-hobbies{
        font-size: 1.95rem;
    }
    /* TERMINA PAG SOBREMI */
    /* EMPIEZA PAG PROYECTOS */
    .proyectos-img-links{
        width: 100%;
        
    }
    /* TERMINA PAG PROYECTOS */
    /* EMPIEZA PAG HABILIDADES */
    .habilidades-frontend{
        margin-left: 4rem;
        font-size: 4.2rem;
        margin-top: 1rem;
        width: 30rem ;

    }
    .container-texto-habilidades{
        margin-left: 1rem;
        margin-top: 5rem;
        width: 35.5rem;
        box-shadow: 0px 11px 16px 1px $mainLightBlue;
    }
    .texto-habilidades{
        font-size: 2.1rem;
    }
    .container-all-habilidades{
        margin-left: 11.6rem;
        margin-top: 10rem;
    }
    .img-pag-hb{
        width: 20rem;
        height: 20rem;
        margin-left: -2rem
    }
    .footer-habilidades{
        margin-top: 77rem;
    }
}
