@media screen and (min-width: 1024px) and (max-width:1025px){
    
    /* EMPIEZA SOBRE MI */
    .container-sobre-mi{
        position: relative;
        margin-left: 45rem;
    }
    /* TERMINA SOBRE MI */
    
    /* EMPIEZA PROYECTOS */
    .proyectos-index{
        margin-top: 20rem;
    }
    
    .img-proyectos{
        width: 28rem;
    }

    .certificado{
        top: 136rem;
    }
    /* TERMINA PROYECTOS */
    
    /* EMPIEZA CONTACTAME */
    .form-input{
        width: 64rem;
    }
    
    .textarea-index{
        width: 64rem;
    }
    
    .btn{
        margin-left: 55.7rem;
    }

    .input-name{
    margin-left: .1rem;
    }
    /* TERMINA CONTACTAME */


    /* EMPIEZA PAG PROYECTOS */

    .proyectos-img-links{
        width: 339.5px;
    }
}