$mainBlack: #000;
$mainLightBlue: #4498C8;
@media screen and (min-width: 1024px) and (max-width:1025px){

    /* EMPIEZA SOBRE MI */
    .container-sobre-mi{
        margin-left: 25rem;
        margin-top: 9rem;
    }
    /* TERMINA SOBRE MI */
    
    /* EMPIEZA PROYECTOS */
    .proyectos-index{
        margin-top: 20rem;
    }
    
    .img-proyectos{
        width: 28rem;
    }

    .certificado{
        top: 136rem;
    }

    .carousel{
        display: block;
        margin-top: 12rem;
    }
        
    .img-carousel-proyectos{
        height: 30rem;
        width: 85rem;
        margin-left: 8.7rem;
    }
    .proyectos-index{
        display: none;
    }
    /* TERMINA PROYECTOS */
    
    /* EMPIEZA CONTACTAME */
    .form-input{
        width: 64rem;
    }
    
    .textarea-index{
        width: 64rem;
    }
    
    .btn{
        margin-left: 55.7rem;
    }

    .input-name{
    margin-left: .1rem;
    }
    /* TERMINA CONTACTAME */


    /* EMPIEZA PAG PROYECTOS */

    .proyectos-img-links{
        width: 339.5px;
    }

    /*EMPIEZA PAG CONTACTAME  */
    .btn-contactame{
        width: 65.8rem;
    }
    .footer-contactame{
        position: fixed;
        bottom: 0;
    }
}