$mainBlack: #000;
$mainLightBlue: #4498C8;
.container-titulo-sobremi{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.titulo-sobremi{
    color: #fff;
    font-size: 2.5rem;
}

.container-texto-sobremi{
    width: 50rem;
    height: 62rem;
    display: inline-block;
    border: 2px solid $mainLightBlue;
    box-shadow: -9px 11px 16px 1px $mainLightBlue;
    background-color: $mainBlack;
    border-radius: 1.4rem;
    color: #fff;
    margin-top: 1.5rem;
}

.texto-sobremi{
    font-size: 2.5rem;
    margin: 1.5rem;
}

.container-texto-hobbies{
    background-color: #fff;
    width: 50rem;
    height: 62rem;
    display: inline-block;
    border: 2px solid $mainLightBlue;
    box-shadow: 9px 11px 16px 1px $mainLightBlue;
    background-color: $mainBlack;
    color: #fff;
    border-radius: 1.4rem;
    margin-bottom: 7.6rem;
    margin-top: 1.5rem;
}

.texto-hobbies{
    font-size: 2.5rem;
    margin: 1.5rem;
}

.container-textos{
    display: flex;
    justify-content: space-evenly;
}